@include keyframes(bump_left) {
	50% {
		left: 0;
	}
}
@include keyframes(bump_right) {
	50% {
		right: 0;
	}
}
@include keyframes(fade_pulsate) {
	50% {
		opacity: 0.5;
	}
}
@include keyframes(flash) {
	0% {
		background: rgba(106,209,201, 0.8);
	}

	50% {
		background: rgba(106,209,201, 0.3);
	}

	100% {
		background: rgba(106,209,201, 0.8);
	}
}
@include keyframes(hint) {
	0% {

	}
	30% {
		@include transform(translate3d(0, 0, 0));
	}
	50% {
		@include transform(translate3d(2%, 0, 0));
	}
	60% {
		@include transform(translate3d(0, 0, 0));
	}
	80% {
		@include transform(translate3d(3%, 0, 0));
	}
	90% {
		@include transform(translate3d(-1%, 0, 0));
	}
	100% {

	}
}
@include keyframes(hover_bounce) {
	50% {
		opacity: 0.7;
		@include transform(scale(0.95));
	}
}
@include keyframes(hover_pop) {
	30% {
		@include transform(scale(1.2));
	}
	60% {
		@include transform(scale(1.05));
	}
	100% {
		@include transform(scale(1.1));
	}
}
@include keyframes(loader) {
	0% {
		opacity: 0;
		@include transform(translate3d(-25%, 0, 0));
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		@include transform(translate3d(25%, 0, 0));
	}
}
@include keyframes(pop_bounce) {
	30% {
		@include transform(scale(1.3));
	}
}
@include keyframes(pulsate) {
	50% {
		@include transform(scale(0.4));
	}
}
@include keyframes(pulsate_next) {
	50% {
		@include transform(translate3d(-100%,0, 0) scale(0.9));
	}
}
@include keyframes(pulse) {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
@include keyframes(spin) {
	to {
		@include transform(rotate(0deg));
	}
	from {
		@include transform(rotate(360deg));
	}
}
@include keyframes(spin_pop) {
	0% {
		@include transform-origin(50% 150%);
		//@include transform(scale(0.7));
	}
	100% {
		@include transform(rotate(-90deg) scale(1));
	}
	
}
@include keyframes(spin_opposite) {
	0% {
		@include transform(rotate(0deg));
	}
	60% {
		@include transform(rotate(-180deg) scale(0.8));
	}
	80% {
		@include transform(rotate(-180deg) scale(1.1));
	}
	100% {
		@include transform(rotate(-180deg) scale(1));
	}
}
@include keyframes(wobble)  {
	50% {
		@include transform(scale(1.1));
	}
}
@include keyframes(wobble_reverse)  {
	50% {
		@include transform(scale(1.2));
	}
}

@include keyframes(stretchdelay) {
	0%, 40%, 100% { 
		@include transform(scaleY(0.4));
	}
	20% { 
		@include transform(scaleY(1.0));
  }
}