/* Variables
=============================================*/
$primary: #0065a4; //
$secondary: #d8e9e8; //
$tertiary: #f6f6f3; //

$bodyFont: 'Helvetica', 'Arial', sans-serif;
$bodyFontFull: normal 16px/20px $bodyFont;


$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$tablet-width: 768px;
$tablet-mid-width: 800px;
$desktop-width: 1024px;
$super-desktop-width: 1400px;
$mobile-width: 680px;
$small-mobile-width: 375px;