@import "_variables.scss"; // Include all variables for the site like fonts
@import "_mixins.scss"; // Include the CSS mixins
@import "_reset.scss"; // Include the general HTML reset
@import "_keyframes.scss"; // keyframe animations, only include if you'll be using keyframe animations

/* Put all your main styles below here */
/* When making styles, make sure to keep in mind a mobile-first mentality. All your main code here should work 100% on mobile. Your media queries should be for upscaling from a mobile size.*/
main {
	text-align: center;
	position: relative;
	display: flex;

	h1 {
		color: white;
		left: 50%;
		position: absolute;
		text-transform: uppercase;
		top: 50%;
		@include transform(translate(-50%, -50%));
	}
}

section {
	height: 100vh;
	text-align: center;
	width: 50%;

	&.student {
		background-color: #404C56;
	}

	&.professor {
		background-color: #A795A5;
	}

	a {
		border: 2px solid white;
		color: white;
		font-size: 3vw;
		line-height: 500px;
		padding: 10px 20px;

		@include tablet {
			line-height: 300px;
		}

		&:hover {

		}
	}

	.entry-point {
		display: none;
		form {
			.txt {
				background: transparent;
				border: none;
				color: white;
				border-bottom: 1px solid white;
				outline: none;
			}
			.btn {
				background:transparent;
				border: 1px solid white;
				border-radius: 0;
				color: white;
				padding: 5px 10px;
			}
		}
	}

	.show {
		display: block;
	}
}

#professorBody {
	section {
		width: 100%;

		textarea {
			display: block;
		}
		input {
			display: block;
		}
	}
}

#studentBody {
	section {
		width: 100%;

		textarea, input {
			display: block;
			margin: 0 auto;
		}
	}
}
