@import "_variables.scss"; // Include all variables for the site like fonts
@import "_mixins.scss"; // Include the CSS mixins
@import "_reset.scss"; // Include the general HTML reset
@import "_keyframes.scss"; // keyframe animations, only include if you'll be using keyframe animations

/* Put all your main styles below here */
/* When making styles, make sure to keep in mind a mobile-first mentality. All your main code here should work 100% on mobile. Your media queries should be for upscaling from a mobile size.*/

body {
	background: linear-gradient(145deg, #DAD299, #b0dab9);
	background-size: 200% 200%;
	height: 100vh;
	@include animation(gradient 10s ease infinite);
}

main {
	margin: 0 auto;
	padding: 10% 0;
	text-align: center;
	width: 80%;

	@include mobile {
		width: 100%;
	}

	h1 {
		color: white;
		text-transform: uppercase;
	}
}

section {
	display: inline;
	margin: 10% 0;
	line-height: 200px;
	text-align: center;
	width: 50%;

	&.student {
	}

	&.professor {
	}

	a {
		border: 2px solid white;
		border-radius: 5px;
		color: white;
		font-size: 3em;
		width: 400px;

		&:hover {

		}
	}

	.entry-point {
		display: none;
	}

	.show {
		display: block;
	}
}

/*
Include any other files split out by section here
*/
